{% extends "dash_base.html" %}
{% load ui %}

{% block title %}Cast Line Map {% endblock %}

{% block nav %}
        {% show_menu 'Cast Line Map' user %}
{% endblock %}

{% block rightnav %}
{% endblock %}

{% block alerts %}

{% endblock %}

{% block content %}
<div id="map-canvas">

</div>
{% endblock %}


{% block pageScripts %}
<style>
body { padding-top: 0px;}
.uv-icon{display:none;}

</style>

<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />



<script>
function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}
var map = null;
$( document ).ready(function() {
// Sign up to get an access token
L.mapbox.accessToken = 'pk.eyJ1IjoidGhpc2lzdGhlY2hyaXMiLCJhIjoiWGtjZnRXMCJ9.DJPpDDWnqux6wsFHStG_mQ';
// Create a map in the div #map
/*L.mapbox.Map({
  container: 'map-canvas',
  ///style: 'https://www.mapbox.com/mapbox-gl-styles/styles/outdoors-v7.json', //stylesheet location
  center: [50.3750391347, -4.13879066706], // starting position
  zoom: 14 // starting zoom
});*/
map = L.mapbox.map('map-canvas', 'thisisthechris.m2d80o9h',{
  zoomControl: false
}).setView([54.57842969715518, -3.9990234375], 6);

L.control.zoom({'position':'bottomleft'}).addTo(map);

{% for cast in casts %}
  {% if cast.origin and cast.destination %}

    L.polyline([
      [{{cast.origin.y}}, {{cast.origin.x}}],
      [{{cast.destination.y}}, {{cast.destination.x}}],
    ], {
      color: getRandomColor()
    }).addTo(map);
  {% endif %}
{% endfor %}

})
</script>

{% endblock %}
