<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{input}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/dashboard/">Home</a></li>
            <li class="divider"></li>
            <li role="presentation" class="dropdown-header">ANALYTICS</li>
            <li><a href="/dashboard/analytics/maps/casts/">Cast Line Map</a></li>
            <li><a href="/dashboard/analytics/maps/postcodes/">Postcode Map</a></li>
            <li class="divider"></li>
            <li role="presentation" class="dropdown-header">ACCOUNT</li>
            <li role="presentation" class="dropdown-header">{{user.email}}</li>
            <li><a href="/accounts/password/change/">Change Password</a></li>
            <li><a href="/accounts/logout/">Logout</a></li>
          </ul>
        </li>
