
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Timeframe: {{filters.time.string}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href=".?time=7">Last 7 Days</a></li>
            <li><a href=".?time=14">Last 14 Days</a></li>
            <li><a href=".?time=28">Last 28 Days</a></li>
            <li class="divider"></li>
            <li><a href=".?time=A">All Data</a></li>
          </ul>
        </li>
